body {
  font-family: sans-serif;
  background: #292929;
  color: #fff;
  margin: 0;
  padding: 0;
  height: 100vh;
  text-rendering: geometricPrecision;

}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: normal;
}
